<div class="container">
    <div class="row">
        <form
            #appForm="ngForm"
            (ngSubmit)="onSubmit(appForm)"
            class="mt-4 flex-grow-1"
        >
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input
                                type="text"
                                id="name"
                                class="form-control"
                                [(ngModel)]="course.title"
                                name="name"
                                #nameVar="ngModel"
                                placeholder="don't be worthy here :)"
                                required
                            />
                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    nameVar.touched &&
                                    nameVar.hasError('required')
                                "
                                >This field is required
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea
                                type="text"
                                id="surname"
                                class="form-control"
                                [(ngModel)]="course.description"
                                name="description"
                                placeholder="write item description..."
                            ></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Start date</label>
                            <input
                                type="text"
                                id="creationDate"
                                class="form-control"
                                [(ngModel)]="course.creationDate"
                                #creationDateVar="ngModel"
                                name="creationDate"
                                placeholder="dd/mm/yyyy"
                                pattern="^(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d$"
                                required
                            />
                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    creationDateVar.touched &&
                                    creationDateVar.hasError('required')
                                "
                                >This field is required
                            </small>
                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    creationDateVar.dirty &&
                                    creationDateVar.hasError('pattern')
                                "
                                >This value should has dd/mm/yyyy format
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="name">Duration</label>
                            <div class="input-group">
                                <input
                                    type="text"
                                    id="duration"
                                    class="form-control"
                                    name="duration"
                                    [(ngModel)]="course.duration"
                                    #durationVar="ngModel"
                                    appNumberValidator
                                    required
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">min</span>
                                </div>
                            </div>
                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    durationVar.touched &&
                                    durationVar.hasError('required')
                                "
                                >This field is required
                            </small>
                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    durationVar.dirty &&
                                    durationVar.hasError('number')
                                "
                                >{{ durationVar.errors.number.message }}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>

                            <app-authors-custom-select
                                [authors]="authors"
                                [(ngModel)]="course.authors"
                                name="authors"
                                #authorsVar="ngModel"
                                required
                            >
                            </app-authors-custom-select>

                            <small
                                class="form-text text-danger"
                                *ngIf="
                                    authorsVar.touched &&
                                    authorsVar.hasError('required')
                                "
                                >This field is required
                            </small>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <div class="btn-group">
                            <button
                                class="btn btn-outline-danger"
                                type="button"
                                (click)="appForm.reset()"
                                [disabled]="appForm.pristine"
                            >
                                Reset
                            </button>
                            <button
                                class="btn btn-outline-success"
                                type="submit"
                                [disabled]="appForm.invalid"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
